@import "../../index.scss";

.Series{
  @include page;
  @include scrollBar;
  flex-direction: column;
  padding: 30px;

  h3{
    margin: 0 auto;
    padding-bottom: 30px;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .container{
    display: grid;
    gap: calc($gap * 1.5);
    grid-template-columns: repeat(6, 1fr);

    button{
      width: 100%;
      padding: 10px 5px;
      background-color: $darkGray;
      border: 0;
      border-radius: 15px;
      font-family: 'Montserrat', sans-serif;
      font-size: 24px;
      font-weight: 300;
      transition: .2s;
      cursor: pointer;

      &:hover{
        background-color: $orange;
        transform: scale(1.05);
      }
    }
  }
}