@import "../../index.scss";

.Series{
  @include page;
  @include scrollBar;
  flex-direction: column;
  padding: 30px;

  h3{
    margin: 0 auto;
    padding-bottom: 30px;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .container{
    display: grid;
    gap: calc($gap * 1.5);
    grid-template-columns: repeat(6, 1fr);

    a{
      text-decoration: none;

      .each-issue{
        padding: 5px;
        background-color: $darkGray;
        border-radius: 15px;
        transition: .2s;
        cursor: pointer;

        img{
          width: 100%;
          aspect-ratio: 1/1.2;
          object-fit: cover;
          object-position: top;
          margin-bottom: 3px;
          border-radius: 15px;
        }

        p{
          padding-bottom: 3px;
          font-family: 'Montserrat', sans-serif;
          font-size: 18px;
          text-align: center;
        }

        &:hover{
          background-color: $orange;
          transform: scale(1.08);
        }
      }
    }
  }
}