@import "../../index.scss";

.Sidebar{
    display: flex;
    flex-direction: column;
    gap: $gap;
    width: 15%;
    min-width: 260px;

    .top{
        display: flex;
        gap: $gap;
        height: 100px;

        .logo-pq{
            display: flex;
            justify-content: center;
            width: 100%;
            height: 100%;
            padding: 15px;
            background-color: $gray;
            border-radius: 15px;

            img{
                width: 100%;
                object-fit: contain;
            }
        }

        .logo-publisher{
            height: 100%;
            aspect-ratio: 1 / 1;
            padding: 15px;
            background-color: $orange;
            border-radius: 15px;
            transition: .2s;
            cursor: pointer;
            
            &:hover{
                background-color: lighten($orange, 5);
            }

            img{
                width: 100%;
            }
        }
    }

    .change-publisher{
        display: flex;
        flex-direction: column;
        height: 0;
        min-height: 0;
        margin-bottom: -$gap - 20px;
        padding: 10px;
        background-color: $gray;
        border-radius: 15px;
        overflow: hidden scroll;
        transition: .4s;

        &.active{
            min-height: 150px;
            margin-bottom: 0;
        }

        a{
            text-decoration: none;
        }
    }

    .library{
        display: flex;
        flex-direction: column;
        height: calc(100vh - 150px + 5px );
        margin-top: auto;
        padding: 7.5px 0 15px 7.5px;
        background-color: $gray;
        border-radius: 15px;
        transition: .4s;

        &.active{
            height: calc(100vh - 150px - 160px);
        }

        h4{
            padding: 7.5px;
            font-size: 22px;
            font-weight: 500;
            text-transform: uppercase;
        }

        .container{
           
            background-color: aqua;
            overflow: scroll;
        }
    }
}