@import "../../index.scss";

.Sidebar{
    display: flex;
    flex-direction: column;
    gap: $gap;
    width: 15%;
    min-width: 260px;

    .top{
        display: flex;
        gap: $gap;
        height: 17%;
        min-height: 100px;

        .logo-pq{
            display: flex;
            justify-content: center;
            width: 100%;
            height: 100%;
            padding: 15px;
            background-color: $gray;
            border-radius: 15px;

            img{
                width: 100%;
                object-fit: contain;
            }
        }

        .logo-publisher{
            height: 100%;
            aspect-ratio: 1 / 1;
            padding: 15px;
            background-color: $orange;
            border-radius: 15px;

            img{
                width: 100%;
            }
        }
    }

    .change-publisher{
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        background-color: #00000076;
    
        .container{
            display: flex;
            gap: 30px;
            max-width: 800px;
            padding: 15px 30px;
            background-color: $darkGray;
            border-radius: 15px;
            

            img{
                max-width: 150px;
                padding: 20px;
                border-radius: 15px;
                transition: .2s;
                cursor: pointer;

                &:hover{
                    background-color: $gray;
                }
            }
        }
    }

    .library{
        display: flex;
        height: 100%;
        background-color: $gray;
        border-radius: 15px;
    }
}