@import "../../index.scss";

.Comics {
  @include page;
  @include scrollBar;
  flex-direction: column;

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;

    .bg {
      position: absolute;
      width: 100%;
      height: 350px;
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .search{
      display: flex;
      gap: $gap;
      margin: 30px 30px 200px 30px;

      button{
        width: 50px;
        aspect-ratio: 1/1;
        background-color: $gray;
        border: 0;
        border-radius: 15px;
        font-size: 26px;
        transition: .2s;
        cursor: pointer;
        z-index: 11;

        &:hover{
          background-color: lighten($gray, 3);
        }

        &.active{
          background-color: $orange;
        }
      }
      
      input{
        width: 0px;
        height: 50px;
        // padding: 15px;
        background-color: $white;
        border: 0;
        border-radius: 15px;
        box-shadow: 0px 0px 3px #b2b2b2;
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        color: $darkGray;
        transition: .2s;
        z-index: 11;
  
        &:hover, &:focus{
          outline: none;
        }

        &.active{
          width: 250px;
          padding: 15px;
          transition: .5s;
        }
      }
    }

    .box {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 30px;
      padding: 0 30px;

      a{
        text-decoration: none;
      }
    }
  }
}