@import "../../index.scss";

.Comics {
  @include page;
  flex-direction: column;

  .container {
    padding-bottom: 30px;

    .bg {
      width: 100%;
      height: 350px;
      margin-bottom: -85px;
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .box {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 30px;
      padding: 0 30px;

      a{
        text-decoration: none;
      }
    }
  }
}
