// FONTS
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// MAIN
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  color: #fff;
}

// COLORS
$white: #fff;
$gray: #1f1f1f;
$darkGray: #0e0e0e;
$orange: #be6a2a;

// VARIABLES
$gap: 15px;

// MIXINS
@mixin page {
  display: flex;
  width: 100%;
  min-width: 800px;
  background-color: $gray;
  border-radius: 15px;
  overflow: auto;
}

@mixin scrollBar {
  overflow: hidden auto;
  scrollbar-width: 2px;

  &::-webkit-scrollbar {
    width: 2px;
    height: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background: lighten($gray, 25);
    border-radius: 15px;
  }
}

// MAIN
body{
    background-color: $darkGray;
}

.App{
    display: flex;
    gap: $gap;
    padding: $gap;
    height: 100vh;
    min-height: 600px;
}